[client]
user=root
password={{ mysql_password_root }}

[mysql]
user=root
password={{ mysql_password_root }}

[mysqldump]
user=root
password={{ mysql_password_root }}


[mysqldiff]
user=root
password="pass"